[package]
name = "swc-plugin-css-variable"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[profile.release]
# Uncomment to achieve smallest possible binary size (may require more experimentation).
# Disclaimer: measure effects on runtime, results can be surprising.
# strip = "debuginfo"
# codegen-units = 1
# lto = true
# opt-level = "z"

[dependencies]
serde = "1.0.136"
serde_json = "1.0.79"
swc_plugin = "0.49.0"
sha3 = "0.10.1"
base64 = "0.13.0"

[dev-dependencies]
swc_ecma_parser = "0.102.4"
swc_ecma_transforms_testing = "0.81.0"
